body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.col{
    text-align: left;
}
strong{
    color: orange;
}
p{
    font-size: 1.1rem;
    text-align: justify;
}
#foresz{
    border: 2px solid orange;
}