body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
    overflow-x: hidden;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.col{
    text-align: left;
}
strong{
    color: orange;
}
p{
    font-size: 1.1rem;
    text-align: justify;
}
#foresz{
    border-right: 10px dashed orange;
}
h3{
    color: orange;
}
h6{
    color: orange;
}
.elso{
    text-decoration: none;
    color: blue;
}
#masodik{
    text-align: center;
    
}
table{
    border: 1px solid orange;
    width: 30%;
    border-spacing: 1px;
}
th{
    border: 1px solid orange;
}
td{
    border: 1px solid orange;
    width: 10px;
}
.tablazat{
    text-align: center;
}
#elsosor{
    text-align: center;
}